@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  min-width: 480px;
  color: #3a3a3a;
}

.h1s {
  font-size: 2.3em;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-bottom: 1em;
}

.h2s {
  font-size: 1.7em;
  font-weight: 900;
  color: #136c72;
  padding-bottom: 0.5em;
}

.ps {
  line-height: 1.4;
  margin-bottom: 2em;
}

img {
  max-width: 200%;
}

.containerss {
    
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}

.row {
    
  display: auto;
 
}

.hero {
  background-color: #23424a;
  color: white;
  background: #02101c;
  padding-bottom: 2em;
}

.hero__text {
  width: auto;
}

.hero__img {
  display: flex;
  width: auto;
  align-self: center;
}

.blarb {
  width: auto;
  padding: 2em 0;
  display: inline;
}

.containerss_r{
    background-color: #b1e5ff;
}


.btnss {
    border-style:none;
  display: inline-block;
  margin: 1em 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 1rem 2rem;
  background-color: #38cfd9;
  background: linear-gradient(110deg, rgb(165, 212, 255), rgb(118, 118, 255));
  color: #072a2d;
  border-radius: 1rem;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.6),
    2px 2px 8px rgba(0, 0, 0, 0.3), -1px -1px 8px rgba(255, 255, 255, 0.6),
    1px 1px 8px rgba(0, 0, 0, 0.3);
  transition: color 250ms, background-color 250ms;
  background-blend-mode: multiply;
  outline: none;
}

.btnss:hover {
  color: white;
  background-color: #38cfd9;
}

.btnss:focus {
  color: white;
  background-color: #38cfd9;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.6),
    4px 4px 8px rgba(0, 0, 0, 0.5), -2px -2px 8px rgba(255, 255, 255, 0.6),
    2px 2px 8px rgba(0, 0, 0, 0.5);
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }


  .nav {
    height: 80px;
    width: 100%;
    background-color: #0c021d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    margin-right: 1rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    margin-top: 1rem;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(71, 32, 245, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      z-index: 10;
      position: absolute;
      display: block;
      width: 100%;
      background-color:#02101c;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  